nav{
    display: flex;
    align-items: center;
    
    background:#000;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

label.logo{
font-size: 35px;
font-weight: bold;
color: white;
padding: 0 30px;
line-height: 80px;
}

.nav_item{
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in;
}

.nav_item:hover{
    color: red;
}